
.footStyle{
    background-color: #D2D2D2;
    padding-top: 2%;
    margin: 0;
    padding-bottom: 2%;
    padding-top: 2%;
   }
   
   .bottom{
    margin-top: 50px;

   }
   .containerBig{
      max-width: 800px;
      text-align: center;
   }
   
   .footStyle  a{
       text-decoration: none;
       color: black;
       font-size: medium;
       font-family:'lato';
   }
   
   .footStyle  a:hover{
       color: gray;
   }

   footer div a img{
        display:unset;
   }
   
   .footStyle h1{
       font-size: x-large;
   }

