* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer{
  background-color: #272932 !important;  
  color: aliceblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

a{
  text-decoration: none;
  font-size: 17px;
}

p{
  font-size: 17px;
}

a:hover{
  color:aqua !important;
}


.iconoRedes{
  width: 30px;
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

.historiafooter{
text-align: justify;
}

p span{
  color: yellow;

}

.textfoot{
  color: aliceblue;
}



