body{
    background-color: #ffffff;
}

.cardBody{
    text-align: center;
    background-color: #FCC875;
}
.cardBody > h1{
    font-size: large;
}

.cardBody > h2{
    font-size: medium;
}

.btnMore{
    background-color: #272932;
    color: #FFFFFF;
}

.btnMore:hover{
    background-color: #70727a;
    color: black;
}

.aboutUs{
    background-color: #272932;
    border-radius: 15px;
}

img{
    background-color: #272932;   
}

#titulo {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 48px;
    text-align: center;   
    color: #135B11;
}
.aboutUs > p {
    font-size: medium;
    color: white;
}