.tituloSucursales {
  margin: 0 0 30px;
  padding: 0;
  color: #135b11;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Fredoka";
  font-style: bold;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 1rem;
  -webkit-text-stroke: 1.5px #272932;
}

.containercardss {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 18rem;
  background-color: #e7ecef;
  padding: 13rem;
  border-radius: 2rem;
  margin: 8rem;
  margin-top: auto;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.bodycard {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card h2 {
  margin-top: 2em;
}

iframe {
  width: -webkit-fill-available;
  height: 19rem;
  transform: translateX(0rem);
  border-radius: 2rem;
}
@media screen and (max-width: 425px) {
  .containercardss {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
  }

  .card {
    width: initial;
  }

  iframe {
    width: -webkit-fill-available;
    height: 16rem;
  }
}
@media screen and (max-width: 768px) {
  .containercardss {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 0.5rem;
  }

  .card {
    width: -webkit-fill-available;
  }

  iframe {
    width: -webkit-fill-available;
    height: 16rem;
  }
}
@media screen and (max-width: 124px) {
  .containercardss {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
  }

  .card {
    width: initial;
  }

  iframe {
    width: -webkit-fill-available;
    height: 16rem;
  }
}
